body {
  margin: 0px;
  background-color: #fff;
}
.hero {
  width: 100%;
}
a {
  color: #c00d1f;
}
.wrapper {
  width: 700px;
  margin: 0px auto;
  font-family: 'Lora', serif;
}
.title {
  font-family: 'Open Sans', sans-serif;
  font-size: 36px;
  font-weight: 600;
  line-height: 1.35;
  color: rgba(0,0,0,.8);
  margin-bottom: 32px;
  margin-top: 32px;
}
.subTitle {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.35;
  color: rgba(0,0,0,.8);
  margin-top: 20px;
}
.inlineSubTitle {
  font-family: 'Open Sans', sans-serif;
  font-size: 21px;
  font-weight: 600;
  line-height: 1.35;
  color: rgba(0,0,0,.8);
  margin-top: 30px;
  margin-bottom: -15px;
}
.paragraph {
  font-size: 21px;
  font-weight: 400;
  line-height: 1.8;
  color: rgba(0,0,0,.8);
  margin-top: 32px;
  margin-bottom: 0;
}
.bold {
  font-weight: 600;
}
.ps {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.8;
  color: rgba(0,0,0,.8);
  margin-top: 32px;
  margin-bottom: 0;
}
.seperator {
  width: 700px;
  height: 1px;
  background-color: rgba(0,0,0,.1);
  margin: 30px auto;
}
.author {
  width: 700px;
  margin: 0px auto 45px auto;
}
.name {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  color: #c00d1f;
  margin-bottom: 5px;
}
.desc {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: rgba(0,0,0,.8);
  margin-top: 0px;
}
.thumbnail {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  float: left;
  margin-right: 10px;
}
.form {
  width: 700px;
  margin: 0px auto 30px auto;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}
.chance {
  font-size: 24px;
  font-weight: 400;
  line-height: 1.8;
  color: rgba(0,0,0,.8);
  margin-bottom: 40px;
  margin-top: 0px;
}
.button {
  margin: 0 auto;
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  background-color: #c00d1f;
  color: #fff;
  border: none;
  padding: 8px 22px;
  border-radius: 20px;
  transition: transform 100ms ease-in-out;
}
.button:hover {
  cursor: pointer;
  background-color: #CC3D4B;
  transform: scale(1.1)

}
.input {
  width: 100%;
  height: 38px;
  font-size: 22px;
  margin-top: 5px;
  border: 1px solid grey;
  border-radius: 2px;
  padding-left: 10px;
}
.input:focus {
  outline: 0;
  border: 1px solid #c00d1f;
}
.impressum {
  display: block;
  padding-bottom: 20px;
  text-align: center;
  font-family: 'Lora', serif;
}

@media (max-width: 800px) {
  .wrapper {
    width: 95%;
    margin: 0px auto;
  }
  .title {
    font-size: 28px;
  }
  .paragraph {
    font-size: 16px;
  }
  .author {
    width: 100%;
    padding: 0px 10px;
  }
  .chance {
    font-size: 18px;
  }
  .seperator {
    width: 95%;
  }
  .name {
    font-size: 16px;
  }
  .desc {
    font-size: 14px;
  }
  .form {
    width: 95%;
    font-size: 14px;
  }
  .input {
    width: 98%;
  }
}
